@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin centerElement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0 - 600px :   phone
600 - 900px:  tablet portrait
900 - 1200px: tablet landscape
1200 - 1800 is where our normal styles apply
1800px + :    big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
// 1em = 16px . ex 600px / 16 = 37.5em. rem doesnt work in media query
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content };
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content };
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content };
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content };
  }
}