.popup {
  height: 100vh;
  width: 100%;
  background-color: rgba($color-black, .8);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;

  &__content {
    @include centerElement;
    width: 70%;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%), scale(0.25);
    transition: all .4s .2s;
  }

  &__left {
    width: 32%;
    display: table-cell;
    vertical-align: middle;
  }

  &__right {
    padding: 3rem 5rem;
    width: 68%;
    display: table-cell;
    vertical-align: middle;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    // column layout in popup
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  // targets popup id in html
  &:target {
    opacity: 1;
    visibility: visible;
  }

  // popup becomes target
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%), scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      line-height: 1;
      transition: all .2s;
    }

    &:hover {
      color: $color-primary;
    }
  }
}