.row {
  max-width: $grid-width; // if available, fill 114, otherwise 100% of avail. space
  background-color: #eee;
  margin: 0 auto; //centers block element left/right are same

  // properties apply to all elements, EXCEPT LAST CHILD
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  @include clearfix;

  //attribute selector. ^ means select all attributes that start with "col-"
  [class^="col-"] {
    background-color: orangered;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2 );
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3 );
  }

  .col-2-of-3 {
    width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3 ) + #{$gutter-horizontal});
  }
}