.header {
  height: 95vh; /* 95 % height of view port*/
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dark, 0.8)
  ),
  url(../img/hero.jpg); /* linear gradient on top, image on bottom*/
  background-size: cover; /* tries to fit image in view port height*/
  background-position: top; /* image stays at top when view port size is changed*/
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh,0 100% );
  clip-path: polygon(0 0, 100% 0, 100% 75vh,0 100% ); /* white triangle at bottom*/

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh,0 100% );
    clip-path: polygon(0 0, 100% 0, 100% 85vh,0 100% ); /* white triangle at bottom*/
  }

  // & is equivelant to .header
  &__logo-box {
    position: absolute;
    top: 4rem; /* counts from parent's relative position top*/
    left: 4rem; /* counts from parent's relative position left*/
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position:absolute;
    top: 40%; /* 40% top of the PARENT element*/
    left: 50%; /* 50% left of the PARENT element*/
    transform: translate(-50%, -50%); /* shifts 50% of the ELEMENT'S height and width to center*/
    text-align: center; /* centers all text including button*/
  }
}
